<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>




</head>
<div th:include="admin/common/html/js :: onload_js"></div>

<body onload="goSwgger()" style="height: 100%;">

<div id="body" style="background-color: white">

</div>

</body>



<script>


    function goSwgger() {
        var url='http://localhost:'+rootPort+rootPath+'/swagger-ui.html';
        var  frame="<iframe src="+url+" width=' 100%'  height='1000px'  scrolling=' no'  frameborder=' 0' ></iframe>";
        $("#body").append(frame);

    }
</script>
</html>