<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>




</head>
<body onload="goSwgger()" style="height: 100%;">

<div id="body" style="background-color: white">

</div>

</body>

<script th:src="@{/static/js/common/jquery-3.1.1.js}"></script>


<script>


    function goSwgger() {
        var url='http://localhost:8080/boot/swagger-ui.html';
        var  frame="<iframe src="+url+" width=' 100%'  height='1000px'  scrolling=' no'  frameborder=' 0' ></iframe>";
        $("#body").append(frame);

    }
</script>
</html>