<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>分析系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">

    <link rel="shortcut icon" href="static/images/logo.png">


    <link rel="stylesheet" href="static/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="static/css/global.css" media="all">
<!--    <link rel="stylesheet" href="css/common/button1.css" media="all">-->

    <link rel="stylesheet" type="text/css" href="static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/common/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/common/iconfont.css">



    <style>

        .borderTopAndB {
            border-bottom: 1px solid #0B3A4D;
            border-top: 1px solid #0B3A4D;
        }
        /*.layui-nav .layui-nav-more{*/
            /*border-top-color: #85EFFF;*/
        /*}*/
        .admin-header-user .layui-nav-more {
            top: 14px;
        }

        .layui-layer-lan .layui-layer-title {
            background: #122138!important;
            padding-top: 10px;
            color: #85EFFF!important;
        }

        .layui-layer-page .layui-layer-content{
            background: #122138!important;
            color: #85EFFF!important;
        }
        .iconfont{
            font-size: 18px;
            display: inline-block;
        }
        .icon-guizepeizhi{
            font-size: 15px!important;
        }
        .icon-duandaoduanxingnengzhibiaojiankong{
            font-size: 16px!important;
        }
        /*.icon-gongdanchaxun,.icon-wodegongdan_xianqu,.icon-wodegongdan_shi,.icon-wodegongdan_sheng,.icon-gongdangailan_xianqu,.icon-gongdangailan_shi,.icon-gongdangailan_sheng{*/
            /*font-size: 20px!important;*/
        /*}*/
    </style>
</head>

<body>


<div class="layui-layout layui-layout-admin">
    <!-- 描述：头部部分 开始-->
    <div class="layui-header header header-demo" style="background-color: #12162e;color: #FFFFFF">
        <div style="float: left;width:15%;height: 100%;line-height: 60px;background: rgba(0, 144, 171, 0.2);" class="borderTopAndB">
            <img class="admin-side-toggle" style="margin-left: 10px;cursor: pointer;width: 20px;margin-bottom: 5px;" src="static/images/index/menu.png"/>
            <span style="font-size: 1.3em;font-weight: bold;margin-left: 15px">分析系统</span>
        </div>
        <div style="float:left;width:70%;height: 103%;background: url(static/images/index/top.png);
			background-repeat: no-repeat;background-size: 100% 100%;"></div>
        <div style="float: right;width: 15%;height: 100%;text-align: right;background: rgba(0, 144, 171, 0.2);" class="borderTopAndB">
            <ul class="layui-nav admin-header-item">
                <li class="layui-nav-item">
                    <a class="admin-header-user" style="position: relative;margin-top: 23px">
                        <img class="admin-side-full" src="static/images/index/allScrean.png" style="cursor: pointer;position: absolute;top:1px;left:-125px;width: 20px;height: 20px"/>
                        <img src="static/images/index/user.png" style="position: absolute;left:-90px;width: 20px;height: 21px"/>
                        <span id="userName" style="color: #85EFFF;position: absolute;left: -66px;top: -30px;"></span>
                        <span id="phone" class="phone" style="color: #85EFFF;position: absolute;left: -66px;top: -16px;"></span>
                    </a>
                    <dl class="layui-nav-child layui-nav-child2">
<!--                        <dd>-->
<!--                            <a href="javascript:;" style="padding-left:5px" id="btnUserInfo">-->
<!--                                <i class="fa fa-user-circle" aria-hidden="true"></i> 个人信息-->
<!--                            </a>-->
<!--                        </dd>-->
<!--                        <dd>-->
<!--                            <a href="javascript:;" id="updates">-->
<!--                                <i class="fa fa-volume-up" aria-hidden="true"></i> 版本说明-->
<!--                                &lt;!&ndash;<span class="layui-badge-dot layui-bg-red"></span>&ndash;&gt;-->
<!--                            </a>-->
<!--                        </dd>-->
                        <dd>
                            <a href="javascript:;" style="padding-left: 5px" id="aboutPer">
                                <i class="fa fa-info-circle" aria-hidden="true"></i> 关于平台
                            </a>
                        </dd>
                        <dd>
                            <a id="exit" style="padding-left: 5px"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>


    <!--描述：头部结束-->


    <!--描述：侧边栏开始-->
    <div class="layui-side layui-bg-black" id="admin-side">
        <div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side"></div>
    </div>
    <!-- 描述：侧边栏结束-->

    <!--描述：中间主体网页 开始-->
    <div class="layui-body" style="bottom: 0;background-color: #1C1E3A;" id="admin-body">
        <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
            <ul class="layui-tab-title" style="margin-top: 8px;margin-left: 8px">
                <li  class="layui-this">
                    <i class="fa fa-dashboard" aria-[hidden="true"></i>
                    <cite id="levelName"></cite>
                </li>
            </ul>
            <div class="layui-tab-content" style="min-height: 150px; padding: 0 0 0 0;margin-top: 5px">
                <div class="layui-tab-item layui-show" id="frameDiv">
                    <iframe id="iframe" src="main.html?number=Math.random()"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!--描述：中间主体结束-->

    <!--描述：脚部 开始-->
    <!--<div class="layui-footer footer footer-demo" id="admin-footer"-->
    <!--style="background-image: url(images/bottom1127.jpg);background-size: cover">-->
    <!--<div class="layui-main" style="color: rgb(125,125,125)">-->
    <!--<p>spdb ©-->
    <!--&lt;!&ndash;<a href="https://www.baidu.com">spdb © www.spdbTNS.com.cn</a> LGPL license&ndash;&gt;-->
    <!--<a href="http://www.bjspdb.com.cn/" style="color:rgb(125,125,125);"> www.bjspdb.com.cn</a>-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--描述：脚步结束-->

    <!--<div class="site-tree-mobile layui-hide">-->
    <!--<i class="layui-icon">&#xe602;</i>-->
    <!--</div>-->
    <!--<div class="site-mobile-shade"></div>-->

</div>
<input type="hidden" id="txtid"/><!--用于隐藏值值-->
<input class="cityCode" id="cityCode" value="" style="display: none"/>
<input class="dipartment" id="dipartment" value="" style="display: none"/>
<input class="roleId" id="roleId" value="" style="display: none"/>
<input class="userName" value="" style="display: none"/>
<input class="phone1" value="" style="display: none"/>
<input class="userCode" id="userCode" value="" style="display: none"/>
<input class="userPwd" id="userPwd" value="" style="display: none"/>
<input class="levelNum" id="levelNum" value="" style="display: none"/>
<span class="city" style="display: none"></span>
<span class="deptName" style="display: none"></span>

<!-- 通用js 引用汇总-->
<div th:include="admin/common/html/js :: onload_js"></div>

</body>



<!--锁屏模板 start-->
<script type="text/template" id="lock-temp">
    <div class="admin-header-lock" id="lock-box">
        <div class="admin-header-lock-img">
            <img src="images/0.jpg"/>
        </div>
        <div class="admin-header-lock-name" id="lockUserName">beginner</div>
        <input type="text" class="admin-header-lock-input" value="输入密码解锁.." name="lockPwd" id="lockPwd"/>
        <button class="layui-btn layui-btn-small" id="unlock">解锁</button>
    </div>
</script>
<!--锁屏模板 end -->
<!--<script th:src="@{/static/layui/common.js}"></script>-->
<!--<script th:src="@{/static/layui/navbar.js}"></script>-->
<script th:src="@{/static/js/index.js}"></script>
<!---->
<script>



    //获取登录信息
    $(function () {
    
 
    
        GetLoginRequest();
        // userName = $("#userName").text();
//        if (userName.length == 0 || userName == "" || userName == null) {
//            window.location.href = "/contra/login.html"
//        }


    });
    layui.use(['layer', 'element', 'layer'], function () {
        var $ = layui.jquery,
                layer = layui.layer;
        $('#video1').on('click', function () {
            layer.open({
                shade: 0,
                title: 'YouTube',
                maxmin: true,
                type: 2,
                content: 'video.html',
                area: ['800px', '500px']
            });
        });
        var element = layui.element;
//                    一些事件监听
        element.on('nav', function (data) {
            //console.log(this.firstChild.getAttribute('data-url')); //当前Tab标题所在的原始DOM元素
        });

        $("#exit").click(function () {

            layer.confirm('是否注销用户', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                window.location.href = rootPath+"/Loginout"

            }, function () {
//
            });

        })


        //点击平台信息
        $("#aboutPer").click(function () {
            var ddiv="<div style='text-align: center;line-height: 40px'><p>已是最新版本</p>\n" +
                "<p>版本 xxxx（正式版本）</p>\n" +
                "<p>xxxx</p>\n" +
                "<p>保留a所有权利。</p></div>";

            layer.open({
                type: 1,
                title: ["平台信息", "font-size:18px"],
                area: ["300px", "240px"],
                anim:2,
                skin:'layui-layer-lan',
                maxmin:false,
                id:'useredit',
                resize:false,
                moveType:1,
                shade: 0.65,
                scrollbar:false,
                content: ddiv,
                end: function () {
                    //要判断是提交后还是取消后的操作
                }
            })
        });
        //版本说明
//         $("#updates").click(function () {
//         	var ddiv ="";
//         	$(function(){
//         	    $.ajax({
//         	        url: '/contra/file/VersionUpdateInfo/VersionUserperce.txt?v='+Math.random(),
//         	        dataType: 'text',
//     		        type:'post',
//     		        async:true,
//         	        success: function(data) {
//
//         	        	ddiv+="<div class='updates' style='line-height: 30px;color: #ffffff !important;width: 400px;margin: 15px auto 0;'>";
//         	        	var strs = data.split("\r\n");
//         	        	for(i in strs){
//         	        		ddiv+="<p>"+strs[i]+"</p>\n";
//         	        	}
//         	        	ddiv+="</div>";
//         	            layer.open({
//         	                type: 1,
//         	                title: ["版本说明", "font-size:16px"],
//         	                area: ["500px", "400px"],
//         	                anim: 2,
//         	                skin: 'layui-layer-lan',
//         	                maxmin: false,
//         	                id: 'useredit',
//         	                resize: false,
//         	                moveType: 1,
//         	                shade: 0.65,
//         	                scrollbar: false,
//         	                content: ddiv,
//         	                end: function () {
//         	                    //要判断是提交后还是取消后的操作
//         	                }
//         	            })
//         	        }
//         	    });
//         	});
// /*         	ddiv = "<div class='updates' style='line-height: 30px;color: #ffffff !important;width: 400px;margin: 15px auto 0;'>"+
//                     "<p>更新时间：2019年5月8日</p>\n" +
//                     "<p>版本号：68.0.3440.106</p>\n" +
//                     "<p>新增功能：<br/>1.增加用户使用协议<br/>2.视频配置优化<br/>3.版本信息显示<br/></p>\n" +
//                     "<p>修复功能：<br/>1.增加用户使用协议<br/>2.视频配置优化<br/>3.版本更新自动下载会弹出下载框，显示进度<br/></p>\n" +
//                     "<p>---------------------------------</p>\n" +
//                     "</div>\n" +
//                     "<div class='updates' style='line-height: 30px;color: #ffffff !important;width: 400px;margin: 15px auto 0;'>"+
//                     "<p>更新时间：2019年5月4日</p>\n" +
//                     "<p>版本号：68.0.3440.106</p>\n" +
//                     "<p>新增功能：<br/>1.增加用户使用协议<br/>2.视频配置优化<br/>3.版本信息显示<br/></p>\n" +
//                     "<p>修复功能：<br/>1.增加用户使用协议<br/>2.视频配置优化<br/>3.版本更新自动下载会弹出下载框，显示进度<br/></p>\n" +
//                     "<p>---------------------------------</p>\n" +
//                     "</div>"; */
//
//
//         });

    });

    //地址获取参数
    function GetLoginRequest() {
        $.ajax({
            type: 'get',
            url: rootPath+"/getUserInfo",
            async: false,
            data: {},
            success: function (result) {
                $("#userName").text(result.USER_NAME);
                $("#phone").text(result.ROLE_NAME);


                // //判断用户是否只是添加用户，无权限
                // if(result[0].AREA_CODE==null  || result[0].AREA_CODE==undefined){
                //     $("#frameDiv").empty();
                //     $("#levelName").text("")
                // }

                // $(".city").text(result[0].DEPT_NAME);
                // $(".cityCode").val(result[0].AREA_CODE);
                // $(".userName").val(result[0].USER_NAME);
                // $("#userName").text(result[0].USER_NAME);
                // $(".userCode").val(result[0].USER_CODE);
                // $(".userPwd").val(result[0].PASSWORD);
                // $(".deptName").val(result[0].DEPT_NAME);
                // $(".phone").text(result[0].PHONE);
                // $(".phone1").val(result[0].PHONE);
                // $(".levelNum").val(result[0].LEVEL_NUM);
                // var deptName = '';
                // var roleId = '';
                // for (var i = 0; i < result.length; i++) {
                //     deptName += result[i].ROLE_NAME + '/'
                //     roleId += result[i].ROLE_ID + '/'
                // }
                // deptName = deptName.substring(0, deptName.length - 1);
                // roleId = roleId.substring(0, roleId.length - 1);
                // $(".dipartment").val(deptName);
                // $(".roleId").val(roleId);

            },
        });
    }
</script>
<script>

</script>
</html>