<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!-- JavaScript -->
<div  th:fragment="onload_gisjs">
<!--<script type="text/javascript">-->
<!--	window.rootPath="[[${rootPath}]]";//项目webapp名称-->
<!--	var a1='[[${moRes}]]'.replace(/&quot;/g,"'");//model返回值-->
<!--	if(a1!=null && a1!=undefined && a1!=""){-->
<!--		window.moRes=eval('(' + a1 + ')');-->
<!--	}-->
<!--</script>-->
<script>
	// function waitjs(k, f) {
	// 	var t = setInterval(function() {
	// 		if (jsl && k in jsl && jsl[k] == 'success') {
	// 			clearInterval(t);
	// 			if (f && typeof f == 'function') {
	// 				f();
	// 			}
	//
	// 		}
	// 	}, 1)
	// }
	var $map = -1;
</script>

<!--	css引用-->
	<link rel="stylesheet" th:href="@{/static/css/mapv/maptools.css}">
	<link rel="stylesheet" th:href="@{/static/css/mapv/web.contextmenu.css}">
	<link rel="stylesheet" th:href="@{/static/css/mapv/spdbmap.css}">
	<link rel="stylesheet" th:href="@{/static/css/mapv/Legend.css}">
	<link rel="stylesheet" th:href="@{/static/css/mapv/mtool.css}">
	<link rel="stylesheet" th:href="@{/static/css/mapv/maptree.css}">


	<!--	js引用-->
	<script th:src="@{/static/js/mapv/mapv.js}"></script>
	<script th:src="@{/static/js/mapv/ThemMaps.js}"></script>

	<script th:src="@{/static/js/mapv/LMap.js}"></script>

	<script th:src="@{/static/js/mapv/UCMap.js}"></script>
	<script th:src="@{/static/js/olmap/olm-component.js}"></script>
	<script th:src="@{/static/js/mapv/commdiv.js}"></script>
	<script th:src="@{/static/js/mapv/basemap.js}"></script>
	<script th:src="@{/static/js/mapv/mapcutter.js}"></script>
	<script th:src="@{/static/js/mapv/coordtransform.js}"></script>
	<script th:src="@{/static/js/mapv/sectormap.js}"></script>
	<script th:src="@{/static/js/mapv/layermanager.js}"></script>


	<script th:src="@{/static/js/common/contextmenu.js}"></script>
	<script th:src="@{/static/js/common/jquery-ui.js}"></script>
	<script th:src="@{/static/js/mapv/MeasureTool.js}"></script>
	<script th:src="@{/static/js/mapv/stylemap.js}"></script>
	<script th:src="@{/static/js/mapv/Legend.js}"></script>

<!--	<script th:src="@{/static/js/mapv/Legends.js}"></script>-->
	<script th:src="@{/static/js/mapv/maptools.js}"></script>
	<script th:src="@{/static/js/mapv/maptree.js}"></script>
	<script th:src="@{/static/js/mapv/mapLabel.js}"></script>

	<script th:src="@{/static/js/mapv/PjComm.js}"></script>
	<script th:src="@{/static/js/mapv/RectangleZoom_min.js}"></script>
	<script th:src="@{/static/js/mapv/rightkey.js}"></script>
	<script th:src="@{/static/js/mapv/geoMapTool.js}"></script>
	<script th:src="@{/static/js/mapv/mapGeometry.js}"></script>

</div>
   