/*.mtool-box dd,  .mtool-box div,  .mtool-box dl,  .mtool-box dt,  .mtool-box li,  .mtool-box ol,  .mtool-boxul {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0)*/
/*}*/
.mtool-box a:active, .mtool-box a:hover {
    outline: 0
}

 .mtool-box dl img {
     /*display: inline-block;*/
     border: none;
     /*vertical-align: middle;*/
     max-height: 23px;
     max-width: 23px;
     /*opacity: 0.8;*/
     /*filter: alpha(opacity=80);*/
     float: left;
     margin-left: 1px;
     padding-top: 3px;
 }

 .mtool-box li {
    list-style: none
}

 .mtool-box dl a {
    color: #333;
}

 .mtool-box a{
    text-decoration: none
}

 .mtool-box a:hover {
    color:   rgba(0,169,230,1);
}

/*.mtool-disabled:hover {*/
    /*color: #d2d2d2 !important;*/
    /*cursor: not-allowed !important;*/
/*}*/

.mtool-disabled {
    pointer-events: none ;
    /*opacity: 0.65;*/
    /*cursor:url("../images/map/tools/disabled.ico"),auto;*/
}

.mtool-box {
    float: left;
    height: 28px;
    /*width: 28px;*/
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow:0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-right:2px;
    display: block;
    opacity:0.9;
}

.mtool-box:hover{
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.3);
    /*transform: scale(1.1,1.1);*/
}

.mtool-box .seleted {
    height: 100%;
    position: absolute;
    z-index: 9999;
    background: url(../../images/map/tools/item_selected.gif) right bottom;
    background-repeat: no-repeat;
    right: 0px;
}

.mtool-box .seleted-box {
    width: 28px;
}

.mtool-box .seleted-child {
    width: 100%;
}

.mtool-header{height: 100%}

.mtool-show {
    display: block !important
}

.mtool-hide {
    display: none !important
}

 .mtool-header a {
     font-size: 14px;
     padding-top: 3px;
     float: left;
     /*text-decoration: none;*/
     color: #333;
     margin: 0px 2px;
     font-weight:500;
     cursor:default;
 }

.mtool-nav {
    position: relative;
    /*padding: 0 20px;*/
    /*background-color: #393D49;*/
    color: #333333;
    border-radius: 2px;
    font-size: 0;
    box-sizing: border-box;
    border-right:1px solid #d2d2d2
}

.mtool-nav dl a{
    font-size: 12px
}

/*.mtool-nav .mtool-nav-item {*/
    /*position: relative;*/
    /*display: inline-block;*/
    /**display: inline;*/
    /**zoom: 1;*/
    /*vertical-align: middle;*/
    /*line-height: 60px*/
/*}*/


.mtool-nav .mtool-nav-item dl a {
    display: block;
    padding-left:20px;
    padding-right: 10px;
    color: #333333;
    /*color: black;*/
    transition: all .3s;
    -webkit-transition: all .3s
}

.mtool-nav .mtool-this:after, .mtool-nav-bar{
    position: absolute;
    /*left: 0;*/
    /*top: 0;*/
    /*width: 0;*/
    height: 5px;
    /*background-color: #5FB878;*/
    transition: all .2s;
    -webkit-transition: all .2s
}

.mtool-nav-bar {
    z-index: 1000
}

.mtool-nav .mtool-nav-item a:hover, .mtool-nav .mtool-this a {
    color: #333
}

.mtool-nav .mtool-this:after {
    content: '';
    top: auto;
    bottom: 0;
    width: 100%
}

.mtool-nav-img {
    position: relative;
    max-width: 27px;
    max-height:27px;
    /*margin:1px 1px;*/
    /*padding-top:5px;*/
    /*float: left;*/
    /*font-size: 11px;*/
    /*border-radius: 50%*/
    padding-bottom: 2px;
    bottom: 2px;
}

.mtool-nav .mtool-nav-more {
    content: '';
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-color: #1d5394 transparent transparent;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: absolute;
    top: 28px;
    right: 3px;
    border-width: 4px;
    border-top-color: #888888;
    display: none;
}

.mtool-nav .mtool-nav-mored, .mtool-nav-itemed .mtool-nav-more {
    top: 22px;
    border-style: dashed dashed solid;
    border-color: transparent transparent  #1d5394;
    display: none;

}

.mtool-nav-child {
    display: none;
    position: absolute;
    left: 0px;
    margin-top: 30px;
    min-width: 100%;
    /*line-height: 28px;*/
    /*padding: 5px 0;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
    border: 1px solid #d2d2d2;
    background-color: #fff;
    z-index: 100;
    border-radius: 2px;
    white-space: nowrap
}

.mtool-nav .mtool-nav-child a {
    color: #333
}

.mtool-nav .mtool-nav-child a:hover {
    background-color: rgba(242,242,242,1);
    color: rgba(0,169,230,1);;
}

.mtool-nav-child dd {
    position: relative;
    line-height: 28px;
}

.mtool-nav .mtool-nav-child dd.mtool-this a, .mtool-nav-child dd.mtool-this {
    background-color: #d7e4f1;
    color: #fff
}

.mtool-nav-child dd.mtool-this:after {
    display: none
}

.mtool-nav-itemed .mtool-nav-more {
    top: 14px
}

.mtool-nav-itemed .mtool-nav-child {
    display: block;
    padding: 0;
    background-color:white !important
}

